<button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Naviagation Bars">
  <mat-icon>menu</mat-icon>
</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item [routerLink]="'/home'">
    <mat-icon>home</mat-icon>
    <span>Home</span>
  </button>
  <button mat-menu-item [routerLink]="'/books'">
    <mat-icon>my_library_books</mat-icon>
    <span>Book List</span>
  </button>
  <button mat-menu-item [routerLink]="'/pictures'">
    <mat-icon>photo</mat-icon>
    <span>Pictures</span>
  </button>
  <button mat-menu-item [routerLink]="'/memories'">
    <mat-icon>favorite</mat-icon>
    <span>Memories</span>
  </button>
</mat-menu>